<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio<h1>

**Ibtisam Shaikh**
<br>Data Engineer

*I am interested in data science because I want to exceed in my career!*

<h3>The below code returns the value of 5^3<h3>

In [7]:
x = 5*5*5
print(x)

125

<h3>This cell contains the following:<h3>
    <h4>Bullet points<h4>
    <ul>
    <li>bullet point 1
    <li>bullet point 2
    </ul>
    <h4>Numbered points<h4>
    <ol>
    <li>Number 1
    <li>Number 2
    <ul>
    <br><br>
    <h4>Table<h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jane</td>
            <td>23</td>
        </tr>
        <tr>
            <td>John</td>
            <td>25</td>
        </tr>
        </table>